html,
body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(14rem, 30%) 1fr;
}

.sidebar {
  background-color: aqua;
}

.main {
  background-color: crimson;
}
