:root {
  --font-color: #333333;
}

html,
body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(15rem, 20%) 1fr;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  border-right: #767676 1px solid;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  background-color: rgb(237, 237, 237);
  transition: background-color 0.3s ease-in;
}

.card {
  display: flex;
  height: 55px;
  border-bottom: #767676 1px solid;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  background-color: white;
  transition: background-color 0.2s ease-out;
}

.card ul {
  padding: 0px 10px;
}

.card .title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17pt;
  font-weight: bold;
  color: var(--font-color);
}

.card .date {
  font-size: 10pt;
  list-style-type: none;
  color: var(--font-color);
}

.main {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.main::-webkit-scrollbar {
  display: none;
}

.title {
  display: block;
}

.title input {
  width: clamp(200px, 90%, 600px);
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--font-color);
  margin: 10px 30px;
  font-size: 20pt;
  font-weight: bold;
}

.text textarea {
  margin: 0px 20px;
  display: block;
  width: clamp(300px, 95%, 95%);
  height: 195vh;
  font-size: 15pt;
  resize: none !important;
  overflow-y: auto;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--font-color);
}
