@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
:root {
  --font-color: #424242;
}

html,
body {
  margin: 0;
  font-family: "PT Mono", monospace;
}
.title,
#Title,
.word-count h4,
textarea {
  font-family: "PT Mono", monospace;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: #767676 1px solid;
}

.container {
  height: calc(100vh - 51px);
  display: grid;
  grid-template-columns: minmax(15rem, 20%) 1fr;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  text-overflow: ellipsis;
  border-right: #767676 1px solid;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  background-color: rgb(237, 237, 237);
  transition: background-color 0.3s ease-in;
}

.card {
  display: flex;
  height: 55px;
  border-bottom: #767676 1px solid;
  align-items: center;
  cursor: pointer;

  text-overflow: ellipsis;
}

.card:hover {
  background-color: white;
  transition: background-color 0.2s ease-out;
}

.card ul {
  padding: 0px 10px;
}

.card .title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17pt;
  font-weight: bold;
  color: var(--font-color);
}

.card .date {
  font-size: 10pt;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.404);
}

.main {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.main .title {
  display: grid;
  grid-template-columns: minmax(15rem, 70%) 1fr;
  margin-bottom: 30px;
}

.title input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--font-color);
  margin: 10px 30px;
  font-size: 20pt;
  font-weight: bold;
}

.text textarea {
  margin: 0px 20px;
  display: block;
  width: clamp(300px, 95%, 95%);
  height: 195vh;
  font-size: 15pt;
  resize: none !important;
  overflow-y: auto;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--font-color);
}

.options {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.trash {
  padding: 10px 20px;
}
.trash img {
  height: 25px;
  fill: var(--font-color);
  cursor: pointer;
}
.trash img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.word-count {
  margin-left: 10px;
  min-width: 151px;
}
